[package]
name = "cached-path"
version = "0.3.0"
authors = ["epwalsh <epwalsh10@gmail.com>"]
edition = "2018"
keywords = ["http", "caching"]
categories = ["caching"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/epwalsh/rust-cached-path"
homepage = "https://github.com/epwalsh/rust-cached-path"
description = "Download and cache HTTP resources."

[lib]
name = "cached_path"
path = "src/lib.rs" 

[[bin]]
name = "cached-path"
path = "src/main.rs"
doc = false

[dependencies]
file-lock = "1.1"
reqwest = { version = "0.10.0", features = ["blocking"] }
sha2 = "0.9"
tempfile = "3.1"
structopt = "0.3"
log = "0.4"
env_logger = "0.7"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
failure = "0.1"
failure_derive = "0.1"
exitfailure = "0.5.1"
rand = "0.7"
glob = "0.3"

[dev-dependencies]
httpmock = "0.4"
